@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  padding: 1rem;
  /* overflow: hidden; */
}
nav {
  background-color: rgba(255, 228, 196, 0.307);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
.iddd {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.lovely {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
  border: 1px solid white;
}
.iddda {
  display: flex;
  gap: 0.5rem;
}
.bx-bell {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.bxs-comment-detail {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.bx-cart-download {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
form {
  /* background-color: rgba(163, 157, 157, 0.436); */
  background-color: rgba(163, 157, 157, 0.318);
  width: 50%;
  font-weight: bolder;
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-left: 0.3rem;
  color: grey;
  @media (max-width: 585px) {
    width: 100%;
  }
}
input {
  border: none;
  outline: none;
  width: 100%;
  /* border-radius: 0.5rem; */
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.7rem;
  background-color: rgba(163, 157, 157, 0.318);
}
section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  /* padding: 2rem; */
}
.pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.see {
  color: green;
}
.duct {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3rem;
  padding: 1rem;
  @media (max-width: 585px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: 0.3rem;
  padding-top: 1rem;
}
.duct1 {
  /* background-color: green; */
  /* width: 20%; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.mang {
  width: 220px;
  height: 180px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.star {
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
  gap: 1rem;
}
.star1 {
  display: flex;
}
.bx-star {
  color: #f6c76c;
}
.stock {
  display: flex;
  gap: 6.5rem;
}
.addd {
  background-color: green;
  border: none;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  width: 50%;
  color: white;
}
.duct2 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
  border-radius: 2rem;
  background-color: green;
  color: white;
}
.mango {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.mangg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}
.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 585px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.duct3 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
  border-radius: 2rem;
  background-color: blue;
  color: white;
}
.mango {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.mangg {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 1rem;
}
