@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  background-color: azure;
  /* overflow: hidden; */
  padding: 1.5rem;
}
nav {
  background-color: rgba(255, 228, 196, 0.307);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.iddd {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.lovely {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
  border: 1px solid white;
}
.iddda {
  display: flex;
  gap: 0.5rem;
}
.bx-bell {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.bxs-comment-detail {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.bx-cart-download {
  color: black;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
form {
  /* background-color: rgba(163, 157, 157, 0.436); */
  background-color: rgba(163, 157, 157, 0.318);
  width: 50%;
  font-weight: bolder;
  margin-top: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding-left: 0.3rem;
  color: grey;
  @media (max-width: 585px) {
    width: 100%;
  }
}
input {
  border: none;
  outline: none;
  width: 100%;
  /* border-radius: 0.5rem; */
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.7rem;
  background-color: rgba(163, 157, 157, 0.318);
}
section {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  color: black;
  padding: 1rem;
  font-weight: bolder;
}
.detail {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  @media (max-width: 585px) {
    grid-template-columns: repeat(2, 1fr);
    /* padding: 1rem 1.5rem; */
  }
}
.detail1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.fruit {
  width: 180px;
  height: 120px;
  border-radius: 1rem;
  object-fit: cover;
}
